.badge {
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  position: relative;
  left: -1px;
  top: -4px;
  height: inherit;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  vertical-align: middle;
  line-height: normal;
}

.left {
  width: 15%;
  float: left;
  text-align: center;
}
.right {
  margin-left: 15%;
}
div {
  height: inherit;
}